@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(0deg,rgba(2, 11, 33) 0%, rgba(0, 21, 80) 100%);
    width: 100%;
    background-color: black;
}

.container {
    width: 1350px;
    margin: 0 auto;

}

.games .Click{
    text-decoration: none;
    color: inherit;
    display: block;
    transition: all 0.3s;
    border-radius: 20px;

}
.games .Click:hover{
/*    background-color: darkblue;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);*/

      transform: translateY(-10px);
}
.Click{
    text-decoration: none;
    color: inherit;
    display: block;
    transition: all 0.3s;
    /*padding-right: 26%;*/
    box-sizing: border-box;
    max-width: 100%;

}
/*.Click:hover{
    background-color: darkblue;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);

      transform: translateX(-10px);}*/


header {
    padding: 50px 0;

}

header .logo ,footer .blocks .logo {

    text-transform: uppercase;
    font-size: 29px;
    font-weight: 8000;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    padding-left: 250px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #ffffff;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 138px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 5px;

}


header nav ul li:not(.active):not(.btn):not(.active2):not(.active3) a:hover {
    border-bottom: 5px solid #DC7000;
}

header nav ul li.btn a, .email .block button {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover, .email .block button:hover {
    background: #dc3000;

}

/*преза*/
.hero {
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 530px;
    padding-top: 40px;
}

.hero--info h2 {
    color: #E87D0E;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn {
    background: #FF8305;
    color: #ffffff;
    border-radius: 50px;
    padding: 15px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: -0px;
    right: 0;
    z-index: 1;

}

/*игрульки*/


.trending {
    padding-top: 100px;
}

.trending h3 {
    font-weight: 600;
    font-size: 31px;

}

.trending .see-all, .projects .see-all{
    color: #ffffff;
    /*background: #25211D;*/
    background: #FF8305;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease ;
    z-index: 999;
    position: relative;
}

.trending .see-all:hover, .projects .see-all:hover {
    transform: scale(1.1);
}

.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .games span img {
    position: relative;
    top: 5px;
    margin-right: 7px;
}

.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}

.banner {
    padding: 80px 0;
}

.banner h3 {
    font-size: 3opx;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p {
    /*font-family: "";*/
    line-height: 170%;
    margin-bottom: 2px;
    width: 60%;
    font-size: 20px;
}

.banner img {
    width: 100%;
    margin-bottom: 30px;
}

/*сектор картинки*/

.features {
    background: url('/img/BG.png') no-repeat center fixed;
    background-size: cover;
    padding: 80px 0;
}

.features h3, .features p {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features h3 {
    font-size: 30px;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.features .info .block img {
    margin-bottom: 15px;
}

.projects {
    padding: 100px 0;
}

.projects h3 {
    font-size: 30px;
    text-align: center;
}

.projects p {
    margin: 40px 0;
    text-align: center;
    font-size: 20px;
}

.projects .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.projects .see-all {
    float: none;
    width: 60px;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 9999;
}

/*работа с email*/

.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 0px;
    font-size: 30px;
}

.email .block {
    background: rgba(2, 11, 60);
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email .block h4 {
    font-size: 30px;
    font-weight: 500;
}

.email .block p {
    width: 500px;
}

.email .block input {
    background: #ffffff;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 20px 30px;
    position: relative;
    right: -105px;
    z-index: 1;
    padding-right: 125px;
}

.email .block input::placeholder {
    color: #898989;
}

.email .block button {
    cursor: pointer;
    border: 0;
    padding: 13px 10px;
    position: relative;
    z-index: 2;
    color: #ffffff;
}


footer {
    background: #000;
    padding: 50px 0;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks p {
    width: 300px;
    margin: 15px 0;
}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul {
    list-style: none;
}

footer .blocks ul li {
    margin-top: 7px;
    opacity: 0,8;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #ccc;
}

footer > p {
    text-align: center;
}

/*top15.html*/

.mesto{
    display: inline-block;
    vertical-align: top;
    /*margin-right: 570px;*/
    /*width: calc(83%);*/
    padding: 8px 0 0 10px;
}
.date{
    display: flex;
    align-items: center;
    margin: -5px 0 -5px 0;
    color: lightgray;
}

.fa{
    margin: 5px 3px 0 0;

}
d{
    font-size: 13px;
}
h6{
    font-size: 15px;
    font-weight: normal;
}
.ocenca{
    padding-right: 10px;
}
.img-stars{
    margin: 0px -1px -3px 0px;
    width: 19px;
    height: 19px;
}
.mesto h1{
    font-size: 20px;

}

.top15games {
    background: rgba(2, 25, 80);
    margin-top: 30px;
    border-radius: 10px;
    padding: 1% 1% ;
    width: 94%;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    transition: all 0.1s ease-in;
    overflow: hidden;
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
}
.top15games:hover{
    background: rgba(3, 20, 120);
    transform: translateX(-10px);
    transition: all 0.3s;


}
.top15games img{
    border-radius: 20px;
}

.group{
    /*display: inline-block;*/
    vertical-align: top;
    padding: 0px 0px 50px 0px;
    margin-top: -3%;
}
.boxigr{

}


/*Дизайн inserta*/
.group2{
    /*display: inline-block;*/
    vertical-align: top;
    margin-top: -20px;


}
.boxigr2{

}
.group2 .top15games2 {
    background: rgba(2, 25, 80);
    margin-top:   20px;
    border-radius: 10px;
    padding: 1% 1% ;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.top15games2 .mesto h1{
    font-size: 30px;
}
.group2 .mesto{
    display: inline-block;
    vertical-align: top;
    /*margin-right: 570px;*/
    width: calc(83%);

}
.group2 .date{
    display: flex;
    align-items: center;
    margin: -5px 0 -5px 0;
    color: lightgray;
}
.blockINS{
    display: flex;
    padding-top: 15px;

}
.blockINS2{
    padding: 0 0px  0 15px;
    margin:  0 0 0 0;
}
.blockINS2 img{
    max-width: 1000%;
}
.blockText{
    margin: 0 -75% 0 0;

}
.blockText h6{
    font-size: 17px;
}
.blockText .blockData{
    background-color: rgba(2, 30, 100);
    border-radius: 10px;
    margin: 5px 0 0 0;
}

.blockData h6{
    padding: 5px 0px 2px 15px;
    font-family: "Times New Roman", Times, serif;
}
/*.blockData .ocenca{
    padding-right: 26px;
}*/
.blockData d{
   
    font-size: 20px;
}
.D{
    margin: 10px 0 0 0;
}
.razrab{
    margin: 10px 0 0 0px;
}
h7{
    color: lightgray;
}
.izdateli{
    margin: 10px 0 0 0px;
}
.mesto .tablo2 h10{
    font-size: 18px;
}
.tablo2Columns{
    display: flex;
    gap: 25%;
}
.tablo2Columns h2{
    font-size: 20px;
}
.tablo2Columns1{
   
}
.tablo2Columns ul {
    padding: 0px 0 0 20px ;
}
.Po1{
    padding: 0 0 40px 0px;
}
header nav ul li.active2::after {
    content: '';
    display: block;
    width: 120px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 5px;

}
header nav ul li.active3::after {
    content: '';
    display: block;
    width: 62px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 5px;

}
/*news часть*/
h9{
    font-size: 20px;
}

.group3 .top15games3 {
    background: rgba(2, 25, 80);
    margin-top:   20px;
    border-radius: 10px;
    padding: 1% 1% ;
    margin-left: 10%;
    width: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.top15games3 .mesto h1{
    font-size: 30px;
}
.group3 .mesto1{
    display: inline-block;
    vertical-align: top;
    /*margin-right: 570px;*/
    

}
.group3{
    margin-top: -2%;
}
.container1{
    width: 1070px;
    margin: 0 auto;

}
.wrapper1 {
    background: linear-gradient(0deg,rgba(2, 11, 33) 0%, rgba(0, 21, 80) 100%);
    width: 100%;
    background-color: black;
}
.ul1{
    margin-left: -20%;
}
.t3 h10{
    font-size: 20px;
   
    }
.t3{
     display: inline-block;
    vertical-align: top;

    padding: 8px 0 0 10px;

}
.img1{
    padding-top: 70px;
}
.active3{
    
}